<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>b2bBharat</title>

    <link href="assets/css/login.css" rel="stylesheet">
</head>
<body>
<body>
<div class="container">
    <section id="content">
        <form action="/registration" method="post">
            <h1>Register</h1>
            <div>
                <input type="text" placeholder="Name" required="" id="name" />
            </div>

            <div>
                <input type="text" placeholder="User Name" required="" id="username" />
            </div>

            <div>
                <input type="text" placeholder="EmailID" required="" id="emailID" />
            </div>

            <div>
                <input type="text" placeholder="Contact" required="" id="contact" />
            </div>

            <div>
                <input type="text" placeholder="Address" required="" id="address" />
            </div>

            <div>
                <input type="text" placeholder="Capabilities" required="" id="capabilities" />
            </div>

            <div>
                <input type="text" placeholder="Description" required="" id="description" />
            </div>

            <div>
                <input type="text" placeholder="Website" required="" id="website" />
            </div>

            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="submit" value="Register" />
                <a href="#">Lost your password?</a>
                <a href="#">Register</a>
            </div>
        </form><!-- form -->
        <!-- <div class="button">
             <a href="#">Download source file</a>
         </div>--><!-- button -->
    </section><!-- content -->
</div><!-- container -->
</body>
</body>
</html>